<div class="main">
    <h1>Welcome to Storybook for HTML</h1>
    <p>This is a UI component dev environment for your plain HTML snippets.</p>
    <p>
        We've added some basic stories inside the
        <code class="code">stories</code> directory.
        <br /> A story is a single state of one or more UI components. You can have as many stories as you want.
        <br /> (Basically a story is like a visual test case.)
    </p>
    <p>
        <img src=logo.svg class="logo" />
    </p>
</div>